@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

.card {
    border: 1px solid #fff;
    background: white;
    padding: 20px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.col-lg-4 {
    height: 100%;
    padding: 1px;
}
.col-lg-8 {
    height: 100%;
    padding: 1px;
    padding-left: 10px;
}

input, select, textarea {
    max-width: 100%;
}

thead th {
    background-color: #D9EDF6;
    /*box-shadow: 0 1px 6px rgba(57,73,76,.35);*/
    border-radius: 3px;
    color: #79797B;
}

tbody td {
    background-color: #FCFAF6;
}
tfoot th {
    background-color: #dad8da;
}
tfoot td {
    border: none;
}
textarea {
    min-width: 100%;
    resize: none;
}

.btn {

}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 10px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li a i {
            margin-right: 10px;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 6px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}


#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
    }

        #sidebarCollapse span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }


    #sidebarCollapse.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

        #sidebar.active {
            margin-left: 0;
            transform: none;
        }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
}

.navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
    padding-left: 0px;
}

.container {
    margin-left: 0px;
    margin-top: 0px;
    
}

.navbar-header {
    margin-left: 10px;
}

.tabletoolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;
    overflow: visible;
    background-color: #dad8da;
    color: #555;
    
    border-radius: 3px;
}

.tabletoolbar .btn-tb:hover {
    background-color: #fff8db;
    border-color: #e5c365;
    outline: none;
}

.tabletoolbar .btn-tb {
    white-space: nowrap;
    background-color: transparent;
        
    color: #222;
    min-width: 0;
        
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;
    overflow: visible;
    background-color: #dad8da;
    color: #555;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    border-radius: 3px;
}

 .toolbar > .divider {
        display: inline-block;
        width: 2px;
        border-right: 1px solid #e6e5e6;
        align-self: stretch;
        background-color: #b5b1b5;
        margin: 1px 4px;
        box-sizing: border-box;
    }

.toolbar .btn-tb {
        white-space: nowrap;
        background-color: transparent;
        
        color: #222;
        min-width: 0;
        
    }

.toolbar .btn-tb:hover {
        background-color: #fff8db;
        border-color: #e5c365;
        outline: none;
}

.aligner {
    flex-grow: 1;
}

.page.page-grid .page-toolbar {
    grid-column: 1/span 2;
    grid-row: 1;
}


/*@media (min-width: 768px) {
    .navbar-right {
        margin-top: -50px;
    }
}*/

/* ---------------------------------------------------
    MODAL 
----------------------------------------------------- */

/*modal fullscreen */

.modal.modal-fullscreen {
    /* Maximize the main wrappers on the screen */
    /* Make the parent wrapper of the modal box a full-width block */
    /* Remove borders and effects on the content */
    /**
	 * /!\ By using this feature, you force the header and footer to be placed
	 * in an absolute position. You must handle by yourself the margin of the
	 * content.
	 */
}
    .modal.modal-fullscreen .modal-dialog,
    .modal.modal-fullscreen .modal-content {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #F5F7FA;
    }
.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration:0.6s;
}
.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    /* change bg color below */
    /* background:#1abc9c; */
}
.modal.modal-fullscreen.force-fullscreen {
    /* Remove the padding inside the body */
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
}

.modal-header {
    min-height: 16.428571429px;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    padding: 5px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 25px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}


.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
	

.modal.right .modal-body {
    padding: 15px 15px 80px;
}


        
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
	
.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}