<nav id="sidebar">
            

    <ul class="list-unstyled components">

        <li>
            <a href="#">
                <i class="glyphicon glyphicon-briefcase"></i>
                О Нас
            </a>

        </li>

        <li>
            <a href="#">
                <i class="glyphicon glyphicon-paperclip"></i>
                FAQ
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-send"></i>
                Контакти
            </a>
        </li>
    </ul>


</nav>

