<div id="content">
<div class="card">

    <div class="card-body">
            
        <div class="tabletoolbar page-toolbar">
            <button title="Створити" class="btn btn-tb">
                <i class="fa fa-plus fa-lg"></i> Створити
            </button>
            <button title="Вiдкрити" class="btn btn-tb">
                <i class="fa fa-edit fa-lg"></i> Вiдкрити
            </button>
            <button title="Видалити" class="btn btn-tb">
                <i class="fa fa-times fa-lg"></i> Видалити
            </button>
            <button title="Оновити" class="btn btn-tb">
                <i class="fa fa-refresh fa-lg"></i> Оновити
            </button>


        </div>
        <!--Table-->
        <table id="table_example" class="table table-bordered table-hover" cellspacing="50" width="100%">

            <thead>
            <tr class="table-warning">
                <th visible="Allways">Код</th>
                <th visible="lg">Стан</th>
                <th visible="lg">Дата</th>
                <th visible="lg">Номер</th>
                <th>Постачальник</th>
                <th visible="lg">Сума</th>
                <th>Примiтка</th>

            </tr>
            </thead>

            <tbody>

            <tr>
                <td>1</td>
                <td></td>
                <td>19.02.2018</td>
                <td>1002</td>
                <td>ОАО Совгосп iменi паям'ятника Iллiча</td>
                <td>200.50</td>
                <td>Це все що нам вiдомо</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td>19.02.2018</td>
                <td>1002</td>
                <td>ОАО Совгосп iменi паям'ятника Iллiча</td>
                <td>200.50</td>
                <td>Це все що нам вiдомо</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td>19.02.2018</td>
                <td>1002</td>
                <td>ОАО Совгосп iменi паям'ятника Iллiча</td>
                <td>200.50</td>
                <td>Це все що нам вiдомо</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td>19.02.2018</td>
                <td>1002</td>
                <td>ОАО Совгосп iменi паям'ятника Iллiча</td>
                <td>200.50</td>
                <td>Це все що нам вiдомо</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td>19.02.2018</td>
                <td>1002</td>
                <td>ОАО Совгосп iменi паям'ятника Iллiча</td>
                <td>200.50</td>
                <td>Це все що нам вiдомо</td>
            </tr>






            </tbody>

        </table>
        <!--Table-->


    </div>
</div>

<div class="modal fade modal-fullscreen" id="myModalFullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <div class="toolbar page-toolbar">
        <button title="Зберегти"  class="btn btn-tb">
            <i class="fa fa-save fa-lg"></i> Зберегти
                            
        </button>
        <button title="Зберегти та закрити"  class="btn btn-tb">
            <i class="fa fa-file-o fa-lg"></i> Зберегти та закрити
        </button>
        <button title="Оновити" class="btn btn-tb">
            <i class="fa fa-refresh fa-lg"></i> Оновити
        </button>
        <div role="separator" class="divider">

        </div>
        <button class="btn btn-tb" >
            <i class="fa fa-cog fa-lg"></i> Провести
        </button><!---->
        <button class="btn btn-tb">
            <i class="fa fa-print fa-lg"></i> Друк
        </button>
        <div class="aligner"></div>
        <button class="btn btn-tb" data-dismiss="modal">
            <i class="fa fa-close fa-lg"  ></i> Закрити
        </button>
    </div>

</div>
    <div class="modal-body">
        <div class="card">
            <form id="invoice-form" role="form">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <h3>Рахунок</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-2">


                        <label class="control-label" for="invoiceId">Номер</label>
                        <div>
                            <input class="form-control" id="invoiceId" maxlength="30" name="InvoiceNomber" type="text" />
                        </div>


                    </div>
                    <div class="form-group col-xs-2">


                        <label class="control-label" for="invoiceDate">Дата</label>
                        <div>
                            <input class="form-control" id="invoiceDate" maxlength="12" name="InvoiceDate" type="date" />
                        </div>


                    </div>

                    <div class="form-group col-xs-6">
                        <label class="control-label" for="partnerId">Постачальник</label>
                        <div class="input-group">
                            <input class="form-control" id="partnerId" maxlength="100" name="PartnerName" type="text" />
                            <span class="input-group-addon" id="searchPartnerBtn">
                                <span class="fa fa-search"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-xs-2">
                        <label class="control-label" for="EDRPOU">Код ЄДРПОУ</label>
                        <div>
                            <input class="form-control" id="EDRPOU" maxlength="8" name="PartnerEDRPOU" type="text" />
                        </div>
                    </div>

                </div>
        
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label class="control-label" for="contractId">Договiр</label>
                        <div >
                            <input class="form-control" id="contractId" maxlength="30" name="ContractName" type="text" />
                        </div>
                    </div>

                    <div class="form-group col-xs-6">
                        <label class="control-label" for="projectId">Проект</label>
                        <div class="input-group">
                            <input class="form-control" id="projectId" maxlength="100" name="ProjectName" type="text" />
                            <span class="input-group-addon" id="searchProjectBtn">

                                <span class="fa fa-search"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="comment">Примiтка</label>
                        <textarea class="form-control" rows="2" id="comment"></textarea>
                    </div>
                </div>

            



            </form>
                        
                        
                        
        </div>
        <span>

        </span>
        <div class="card">
            <div class="tabletoolbar page-toolbar">
                <button title="Створити" class="btn btn-tb">
                    <i class="fa fa-plus fa-lg"></i> Додати рядок
                </button>
                            
            </div>
            <table id="tablepartInvoice" class="table table-bordered table-hover" cellspacing="50" width="100%">

                <thead>
                <tr class="table-warning">
                    <th class="col-md-1">№ з.п.</th>
                    <th class="col-md-1">Артикул</th>
                    <th class="col-md-9">Об'єкт</th>
                    <th class="col-md-1">Од. вим.</th>
                    <th class="col-md-1">Кiлькiсть</th>
                    <th class="col-md-1">Цiна</th>
                    <th class="col-md-1">Сума</th>
                    <th class="col-md-1"> </th>

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>1</td>
                    <td>123ПА</td>
                    <td>Генделик</td>
                    <td>шт.</td>

                    <td>5</td>
                    <td>20</td>
                    <td>100</td>
                    <td>X</td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th>Разом</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>100</th>
                    <th></th>

                </tr>
                </tfoot>
            </table>
        </div>
    </div>

@*<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>*@
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modalSelectPartnerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-small">
                <span>Нова папка</span>

                <button class="btnclose" data-dismiss="modal">
                    <i class="fa fa-close fa-lg"></i>
                </button>

            </div>
            <div class="modal-body">
                

            </div>

            <div class="modal-footer">
                <button disabled="disabled" tabindex="100" class="btn btn-primary">
                    Зберегти та закрити
                </button>
                <button tabindex="101" class="btn btn-default" data-dismiss="modal">
                    Скасувати
                </button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>

</div>

<script type="text/javascript">

    $('#table_example').click(function() {

        $('#myModalFullscreen').appendTo("body").modal('show');
    });

    $('#searchPartnerBtn').click(function () {

        $('#modalSelectPartnerForm').appendTo("body").modal('show');
    });

    $('#searchProjectBtn').click(function () {

        alert("Test2");
    });

</script>



