<div id="content">
    
        <div class="col-lg-4">
            <div id="tree1" class="treeview">

            </div>

        </div>
        <div class="col-lg-8">
            <div class="card">

                <div class="card-body">

                    <div class="tabletoolbar page-toolbar">
                        <button title="Створити" class="btn btn-tb">
                            <i class="fa fa-plus fa-lg"></i> Створити
                        </button>
                        <button title="Вiдкрити" class="btn btn-tb">
                            <i class="fa fa-edit fa-lg"></i> Змiнити
                        </button>
                        <button title="Видалити" class="btn btn-tb">
                            <i class="fa fa-times fa-lg"></i> Видалити
                        </button>

                        <div role="separator" class="divider" />

                        
                        
                        <div class="inner-addon right-addon">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="фрагмент назви або коду" />
                        </div>
                        <div role="separator" class="divider">

                        </div>

                        <button title="Оновити" class="btn btn-tb">
                            <i class="fa fa-refresh fa-lg"></i> Оновити
                        </button>


                    </div>
                    <!--Table-->
                    <table id="table_example" class="table table-bordered table-hover" cellspacing="50" width="100%">

                        <thead>
                        <tr class="table-warning">
                            <th visible="Allways">ID</th>
                            <th visible="lg">Назва</th>
                            <th visible="lg">Код</th>
                            <th>Примiтка</th>

                        </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td>1</td>
                            <td>ОАО Генделик</td>
                            <td>1002</td>
                            <td>Там наливають</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ЧП Пьяна Свиня</td>
                            <td>1003</td>
                            <td>Общество трезвостi</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ООО Дуратино</td>
                            <td>1004</td>
                            <td>Резьба по дереву</td>
                        </tr>
                        
                        </tbody>

                    </table>
                    <!--Table-->


                </div>
            </div>
        </div>
   
</div>

<script type="text/javascript">

    var defaultData = [
        {
            text: 'Контрагенти',
            icon: "fa fa-th-list",
            href: '#partners',
            tags: ['4'],
            nodes: [
                {
                    text: 'Постачальники',
                    icon: "fa fa-folder",
                    href: '#suppliers',
                    tags: ['2'],
                    nodes: [
                        {
                            text: 'Ригi Анали',
                            href: '#pr',
                            tags: ['0']
                        },
                        {
                            text: 'Порохоботи',
                            href: '#poroh',
                            tags: ['0']
                        }
                    ]
                },
                {
                    text: 'Покупцi',
                    icon: 'fa fa-folder',
                    href: '#buyers',
                    tags: ['0'],
                    nodes: [
                        {
                            text: 'Кремлеботи',
                            href: '#kremlin',
                            tags: ['0']
                        },
                        {
                            text: 'Тiтушня',
                            href: '#titushko',
                            tags: ['0']
                        }
                    ]
                }
            ]
        }
    ];

    
    $('#tree1').treeview({
        data: defaultData,         // data is not optional
        levels: 5,
        emptyIcon: "fa fa-folder-o",
        expandIcon: "fa fa-chevron-right",
        collapseIcon: "fa fa-chevron-down",
        backColor: '#FAFAFA',
        onhoverColor: "#fff8db",
        //selectedColor:"#7386D5",
        selectedBackColor: "#7386D5",
        showBorder: false
    });

</script>



