@{
    ViewBag.Title = "Purchase Page";
}

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        @Html.Partial("_PurchaseSideBar")

        <!-- Page Content Holder -->
        <div id="content">





        </div>
    </div>


</body>

<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#option1').click(function () {
            $.get('@Url.Action("GetInviceIn","Purchase")', function (data) {
                $('#content').replaceWith(data);
            });
        });
    });
</script>

